<div class="timesheet-row">
  <app-timesheet-item-entry
    title="data"
    [val]="(entry.start | formatTimeEntry: 'DD/MM/YYYY')"
  ></app-timesheet-item-entry>

  <app-timesheet-item-entry
    title="Hora inicio"
    [val]="(entry.start | formatTimeEntry: 'HH:mm:ss')"
  ></app-timesheet-item-entry>
</div>

<div class="timesheet-row">
  <app-timesheet-item-entry
    title="Almoço inicio"
    [val]="(entry.startLunch | formatTimeEntry: 'HH:mm:ss')"
  ></app-timesheet-item-entry>
  <app-timesheet-item-entry
    title="almoço fim"
    [val]="(entry.endLunch | formatTimeEntry: 'HH:mm:ss')"
  ></app-timesheet-item-entry>
</div>

<div class="timesheet-row">
  <app-timesheet-item-entry
    title="hora fim"
    [val]="(entry.end | formatTimeEntry: 'HH:mm:ss')"
  ></app-timesheet-item-entry>
  <app-timesheet-item-entry
    title="tempo"
    [val]="entry.hasEnd ? entry.totalTime : ''"
  ></app-timesheet-item-entry>

</div>
