.timesheet-row {
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
  padding: 0 25px;
  margin-top: 10px;

  & > app-timesheet-item-entry {
    width: 100%;

    &:first-child {
      margin-right: 2px;
    }

    &:last-child {
      margin-left: 2px;
    }
  }
}
