:root {
  width: 100%;
}

.item-title {
  color: var(--ion-color-primary);
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 6px;
}

.item-entry {
  width: 100%;
  background: white;
  color: var(--ion-color-background);
  padding: 10px 0;
  height: 38px;
}
