button {
  background: none;
  border: 2px solid var(--ion-color-primary, #fccd2a);
  border-radius: 5px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  padding: 6px 10px;
  min-width: 112px;

  &.primary {
    background-color: var(--ion-color-primary, #fccd2a);
    border: none;
    color: var(--ion-color-background);
    padding: 8px 12px;
  }
}
