input {
  background: white;
  border: 1px solid transparent;
  border-radius: 5px !important;
}

.logo {
  text-align: center;
  padding: 20px 0 70px 0;
}

form {
  width: 254px;
  margin: auto;

  .error-container {
    padding-top: 10px;
    text-align: center;

    .error {
      color: rgb(238, 81, 81);
    }
  }

  .form-action {
    text-align: center;
    padding-top: 20px;
  }

  .form-field-container {
    margin-bottom: 20px;

    .form-field {
      display: flex;
      align-items: center;
      justify-content: center;

      & > div {
        &:first-child {
          margin-right: 10px;
          width: 30px;
        }
        &:last-child {
          flex-grow: 1;

          input {
            width: 213px;
            height: 35px;
            background: white !important;
          }
        }
      }
    }
  }
}
