<ion-content>
  <div class="login-container">
    <div class="logo">

    </div>

    <div class="login-form">

      <div class="logo">
        <img src="assets/logo.png" alt="">
      </div>

      <form
        [formGroup]="ionicForm"
        (ngSubmit)="login()"
        novalidate
      >
        <div class="form-field-container">
          <div class="form-field">
            <div class="form-field-icon">
              <img src="assets/icon/user_icon.png" alt="">
            </div>
            <div>
              <input
                formControlName="email"
                type="text"
                name="email" />
            </div>
          </div>
          <div class="error-container">
            <!-- Error messages -->
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
              Email obrigatório.
            </span>
          </div>
        </div>

        <div class="form-field-container">
          <div class="form-field">
            <div class="form-field-icon">
              <img src="assets/icon/key_icon.png" alt="">
            </div>
            <div>
              <input
                formControlName="password"
                type="password"
                name="password" />
            </div>
          </div>
          <div class="error-container">
            <!-- Error messages -->
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
              Senha obrigatória.
            </span>
          </div>
        </div>

        <div class="form-action">
          <app-thera-button
            title="login"
            [active]="true"
            (buttonClicked)="login()"
          ></app-thera-button>
        </div>
      </form>
    </div>


  </div>
</ion-content>
