<ion-content [fullscreen]="true">
  <div class="header">
    <div class="logo">
      <img width="103" src="assets/logo.png" alt="">
    </div>
    <div class="user-info">
      Olá, {{ username }}!
    </div>
    <div class="close-button">
      <img
        (click)="logout()"
        src="assets/close_button.png" alt="">
    </div>
  </div>

  <div class="body-container">
    <div class="current-time" *ngIf="entry && entry.start">
      <div class="timer">
        <div>{{ entry.localStart.format('DD/MM/YYYY') }}</div>
        <div>{{ entry.localStart.format('HH:mm:ss') }}</div>
      </div>
      <div class="total-time">
        {{ totalTime }}
      </div>
    </div>
    <div class="action-buttons">
      <app-thera-button
        title="cheguei"
        [active]="!entry.hasStart && !updatingEntry"
        (buttonClicked)="createTimeEntry()"
      ></app-thera-button>

      <app-thera-button
        title="Fui Almoçar"
        [active]="entry?.hasStart && !entry?.hasStartLunch && !updatingEntry"
        (buttonClicked)="updateTimeEntry(timeEntryType.lunchStart)"
      ></app-thera-button>

      <app-thera-button
        title="voltei"
        [active]="entry?.hasStartLunch && !entry?.hasEndLunch && !updatingEntry"
        (buttonClicked)="updateTimeEntry(timeEntryType.lunchEnd)"
      ></app-thera-button>

      <app-thera-button
        title="fui"
        [active]="entry?.hasStart && entry?.hasStartLunch && entry?.hasEndLunch && !entry?.hasEnd && !updatingEntry"
        (buttonClicked)="updateTimeEntry(timeEntryType.end)"
      ></app-thera-button>
    </div>

    <div>
      <app-timesheet-item
        [entry]="entry"
      ></app-timesheet-item>
    </div>

    <div class="history">
      <ng-container *ngIf="timeHistory && timeHistory.items">
        <div class="time-item"
          *ngFor="let time of timeHistory.items"
        >
          <hr class="separator" />
          <app-timesheet-item
            [entry]="time"
          ></app-timesheet-item>
        </div>
      </ng-container>
    </div>
  </div>
</ion-content>
