.time-item {
  padding: 20px 0;

  .separator {
    width: 88%;
    height: 1px;
    background: var(--ion-color-primary);
  }
}

.header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px;
  background: var(--ion-color-background);

  .user-info {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
}

.body-container {
  padding-top: 112px;

  .current-time {
    text-align: center;
    padding-bottom: 40px;
    margin: auto;
    width: 60%;
    color: white;

    .timer {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding-bottom: 6px;
    }

    .total-time {
      color: var(--ion-color-primary);
      font-size: 18px;
    }
  }

  .action-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 20px;

    app-thera-button {
      margin-right: 10px;
      margin-bottom: 20px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
